.App {
  width: 600px;
  margin: 50px auto;
}

.board {
  display: flex;
  flex-direction: column;
}

.column {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.space {
  border: 0.5px dotted black;
  padding: 50px;
  width: 99px;
}
.footer {
  text-align: right;
}
